{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>計算アプリ</title>
    <link rel="stylesheet" href="{% static 'calcu/style.css' %}">
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "AMS" }},
            tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
            },
            "HTML-CSS": { matchFontHeight: false },
            displayAlign: "center",
            // displayIndent: "2em"
        });
    </script>

</head>
<body>
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}
</body>
</html>